<title>Error de producto</title>
    <%- include('../partials/header') %>

            <div class="jumbotron">
                <h3 class="display-4"><%= error %></h3>
                <p class="lead">Intentó ingresar a un producto que no está disponible.</p>
                <hr class="my-4">
                
               
              </div>
    
</body>
</html>