    <title>Marketplace Jugueteria</title>

    <%- include('./partials/header')%>
      <section class=" container-fluid mt-4">
              <div class="row secciones">
               <div class="categoriasV ">
                  <a href="/products/categoria/13">
                  <img class="img-fluid" src="/images/menu-muñecos-y-accesorios.jpg" alt="menu muñecos y accesorios">
                  </a>
               </div>
               <div class="categoriasV ">
                  <a href="/products/categoria/15">
                  <img class="img-fluid" src="/images/menu-primera-infancia.jpg" alt="menu primera infancia">
                  </a>
               </div>
               <div class="categoriasH ">
                  <a href="/products/categoria/12">
                  <img class="img-fluid" src="/images/menu-mochilas.jpg" alt="menu articulos para escuela">
                  </a>
               </div>
              </div>
               <!--
               <article class="categoriasV col-12 col-md-3 col-sm-3 col-lg-3">
                  <img class="img-fluid" src="/images/menu-muñecos-y-accesorios.jpg" alt="menu muñecos y accesorios">
               </article>
               <article class="categoriasV col-12 col-md-3 col-sm-3 col-lg-3">
                  <img class="img-fluid" src="/images/menu-primera-infancia.jpg" alt="menu primera infancia">
               </article>
               <article class="categoriasH col-12 col-md-6 col-sm-6 col-lg-6">
                  <img class="img-fluid" src="/images/menu-mochilas.jpg" alt="menu articulos para escuela">
               </article>-->

               <div class="row secciones">
                  <div class="categoriasH ">
                     <a href="/products/categoria/3">
                     <img class="img-fluid" src="/images/menu-vehiculos-y-pistas.jpg" alt="menu vehiculos">
                     </a>
                  </div>
               <div class="categoriasV ">
                  <a href="/products/categoria/9">
                    <img class="img-fluid" src="/images/menu-juegos.jpg" alt="menu juegos de mesa">
                  </a>
               </div>
               <div class="categoriasV ">
                  <a href="/products/categoria/4">
                  <img class="img-fluid" src="/images/menu-munecos-y-peluches.jpg" alt="menu muñecos y peluches">
                  </a>
               </div>
               
              
               <!--
              <article class="categoriasH col-12 col-md-6 col-sm-6">
                  <img class="img-fluid" src="/images/menu-vehiculos-y-pistas.jpg" alt="menu vehiculos">
               </article>
               <article class="categoriasV col-12 col-md-3 col-sm-3 col-lg-3">
                  <img class="img-fluid" src="/images/menu-juegos.jpg" alt="menu juegos de mesa">
               </article>
               <article class="categoriasV col-12 col-md-3 col-sm-3 col-lg-3">
                  <img class="img-fluid" src="/images/menu-munecos-y-peluches.jpg" alt="menu muñecos y peluches">
               </article>-->
            </div> <!-- row-->

      </section>
      <!---->
     
    <%- include('./partials/footer')%>